  body {
    background-color: #3da4e5;
  }
  
  #logo {
    padding: 20px;
  }

  #go .container-fluid #go-row #go-column #go-box {
    margin-top: 55px;
    padding: 20px;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.267);
  }

  #go .container #go-row #go-column #go-box {
    margin-top: 55px;
    padding: 20px;
    max-width: 1000px;
    height: auto;
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.267);
  }

  #error{
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
  }

  .btn{
    border-radius: 20px;
  }

  #sendbtn {
    margin-top: 30px;
  }